@import "tailwindcss";
@import "../styles/theme.css";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --radius: 18px;

  color-scheme: dark;

  --background: var(--color-background);
  --surface: var(--color-surface);
  --card: var(--color-card);

  --border: var(--color-border);

  --primary: var(--color-primary);
  --secondary: var(--color-secondary);

  --accent: var(--color-accent);
  --accent-light: var(--color-accent-light);
  --accent-dark: var(--color-accent-dark);

  --olive: var(--color-olive);
}

html {
  scroll-behavior: auto;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-inter);
  overflow-x: hidden;
}
::selection {
  background: var(--color-accent);

  color: black;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);

  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar {
  width: 8px;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

section {
  scroll-margin-top: 90px;
}

button {
  cursor: pointer;
}
